Silicalite simulation : Sauer model sans shell + Benzene                        

###INTERACTION ################################################# 
delr 	        5.0000E-01                     
rvdw cutoff	        6.5000E+00                     
vdw shift
cutoff		        6.5000E+00                     
ewald precision	        1.0000E-06                     

###RELAXATION ################################################## 
densvar     	10
seeds        	14 1 2022

###SIMULATION RUN ############################################## 
timestep	        0.001                   
steps		        100000                     
temperature             3.0000E+02                     
pressure	        0.0000E+00                     
ensemble nvt hoover     1.0                   

###POSTRUN ##################################################### 
traj      	        0 10000 0   
print		        10                      
stats		        10                     

###GENERAL ##################################################### 
no strict
multiple   	1
close time  	100
job time  	100000 
io history 	HISTORY.dlpolyhist


###END ######################################################### 
finish

